In [ ]:
# NOTES :-

# Q1 -> sep and end :-

# Ans :- In Python, the sep and end parameters in the print() function control how output is formatted:
# sep: Defines the separator between multiple values. Default is a space.
# end: Defines what is printed at the end of the output. Default is a newline ('\n').
# Example :- print("Hello", "World", sep="-", end="!")
#            output :- Hello-World!


#-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------


# Q2 -> import math
#        math.floor().
# Ans :- math.floor() function ko samajhne ke liye ek simple example se dekhte hain.
#         Agar tumhare paas ek decimal number hai, jaise 5.9,     
#         aur tumhe uska chhota integer chahiye, to math.floor() use hota hai. Ye function decimal value ka niche ka integer deta hai.
# Example :- import math

#            result = math.floor(5.9)
#            print(result)
# Output :-  5
# Yahaan 5.9 ka integer part 5 hai, jo 5.9 se chhota hai. To math.floor(5.9) return karega 5.
# Iska matlab, math.floor() decimal number ka niche ka round karta hai, jo number se chhota ya uske barabar hota hai.


#-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------


# Q3 -> '{}/{}'.format(rn, rd) ??
# Ans :- Example :- rn = 5
#                   rd = 10
#                   print('{}/{}'.format(rn, rd))   #Output :- 5/10

# Yeh code rn aur rd ki values ko / ke saath format karke print karta hai.
# Note :- aagr syntax mei mei {} in bracket ki jaga aur koi bracket use karlu i.e '()/()'.format(rn, rd)
#         then,
#              Is code mein tumne {} ki jagah () use kiya hai, lekin .format() method ko placeholders ke liye {} chahiye hote hain.
#              Isliye, () placeholders ko recognize nahi karta, aur output generate nahi hota.
#              print('{}/{}'.format(rn, rd))
#              Iska output hoga: 5/10
#              Agar tumhe output me () show karna hai, toh tum {} ko aise use kar sakte ho:- print('({})/({})'.format(rn, rd))
#              Iska output hoga :- (5)/(10)


#-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------


# Q4 :- Round Function in Python ??
# Ans :- Purpose: round() function ka use kisi number ko specific decimal places tak round off karne ke liye hota hai.

# Syntax: round(number, digits)
# number: Jis number ko round karna hai.
# digits: Kitne decimal places tak round karna hai.
# EXAMPLE :-
#            value = 12.34567
#            rounded_value = round(value, 2)  # 2 decimal places tak round karta hai
#            print(rounded_value)  # Output: 12.35
# Explanation: Is example mein, 12.34567 ko round karke 12.35 banaya gaya hai, sirf 2 decimal places tak.

#-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

# Q5 :- This is a code of problem 10.
#      L = [] # this is list
#      for i in range(2000,3201):
#        if i % 7 == 0 and i % 5 != 0:
#          L.append(str(i))
#    print(",".join(L))

#Ans :-
#       1 --> Question: Humne str(i) kyun use kiya i ki jagah?
#       Answer:
#              ",".join(L) function sirf strings ke saath kaam karta hai. Agar tum list L mein directly i (jo integer hai) ko add karoge,
#               toh error aayega, kyunki join() ko strings chahiye hoti hain.
#               Isliye, humne i ko string banane ke liye str(i) ka use kiya.
#               Jab i ko string mei convert karenge, toh join() function kaam karega.
#               Example:
#                       Agar i = 2021 hai, aur tumhe isse list mein add karna hai, toh str(i) banayega "2021", jo ek string hai.

#      2 --> Question: join() function kya karta hai?
#      Answer:
#             join() function list ke sabhi elements ko ek string banata hai, 
#             aur un elements ke beech ek specified separator (jaise comma ,) daalta hai.
#             Example:
#                     Agar list L = ['apple', 'banana', 'cherry'] hai, aur tum ",".join(L) likhte ho, toh output hoga: "apple,banana,cherry".
#                     Har element ke beech comma aayega.
#                     Iska syntax hai: separator.join(list). Yahan separator wo symbol hai jo tum list ke elements ke beech chahte ho (jaise comma ya space).


#-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

# Q6 :- split() and pass ?? (Used in problem 11)

# Ans :-
#        1. What is split()?
#        Ans :- split() ek string ko chhote parts mein todta hai, based on a specified separator.
#               Default separator space hota hai, agar tum kuch specify nahi karte ho.
#               Example:
#                      text = "Hello World"
#                      words = text.split()  # Space se split karega
#                      print(words)

#                     Output:['Hello', 'World']

#         2. What is pass?
#         Ans :-pass ek placeholder statement hai jo kuch nahi karta. Jab tumhe ek code block ko temporarily empty chodna ho, toh use hota hai.
#               Example:
#                      def my_function():
#                          pass  # Abhi ke liye function empty hai, koi error nahi aayega
#                      if True:
#                         pass  # Conditional block bhi empty hai


#---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

# Q7 :- Explanation of [[i, j] for (i, j) in zip(list1, list2)] ?

# Ans :- Purpose: This line of code combines corresponding elements from two lists (list1 and list2) into pairs and stores them as lists within a larger list.

#        Key Concepts:

#        zip(list1, list2):

#        Function: zip ka kaam do ya zyada lists ke corresponding (same position par) elements ko pair (tuple) mein combine karna hota hai.
#        Example: Agar list1 = ["M", "na", "i", "Kh"] aur list2 = ["y", "me", "s", "an"] ho, to zip(list1, list2) result dega: ("M", "y"), ("na", "me"), ("i", "s"), ("Kh", "an").
#        Note: Agar lists ki length alag ho, to zip function chhoti list ke end tak pair banata hai.
#        List Comprehension:

#        [i, j] for (i, j) in zip(list1, list2) creates a list [i, j] for each pair (i, j) from the zip function.
#        This generates a new list with each pair from list1 and list2 as separate lists inside it.
#        Output:

#        The final result is a list of lists, where each inner list contains a pair of corresponding elements from list1 and list2.
#         Example Output:
#         python
#         Copy code
#         [['M', 'y'], ['na', 'me'], ['i', 's'], ['Kh', 'an']]


#--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

# Q8 :- Why we use set() function inside sorted() i.e. sorted(set()) ??

# Ans :-
#       Finding Common Unique Items Between Two Lists
#        Example with set(): 
#                           num1 = [23, 45, 67, 78, 89, 34]
#                           num2 = [34, 89, 55, 56, 39, 67]

#                           common = []
#                           for i in num1:
#                               if i in num2:
#                                   common.append(i)

#                           common_sorted = sorted(set(common))
#                           print(common_sorted)

# Purpose: The set() is used to remove duplicates from the common list before sorting.
# Output: [34, 67, 89]
# When to Use: Use this method if you need unique common elements. The set() ensures that any duplicate elements are removed before sorting.

# Example without set():
#                       num1 = [23, 45, 67, 78, 89, 34]
#                       num2 = [34, 89, 55, 56, 39, 67]

#                       common = []
#                       for i in num1:
#                           if i in num2:
#                              common.append(i)

#                       common_sorted = sorted(common)
#                       print(common_sorted)
# Purpose: This version does not remove duplicates. It only sorts the common elements as they appear.
# Output: The output can include duplicates, for example [34, 67, 67, 89] if common contains duplicates.
# When to Use: Use this method if you don't need unique common elements and want to keep any duplicates.



#------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

#Q9 :- map() function ??? (used in :- task 5 :- Q1 ðŸ˜ŠðŸ˜Š).

# Ans :- 
#        map() Function in Python
#        Definition: The map() function applies a given function to each item 
#                    in an iterable (like a list or tuple) and returns a map object. You can convert this map object to a list, tuple, etc.

#        Syntax:
#               map(function, iterable)
#        Example :-
#                   numbers = [[1,2,3] , [4,5,6] ,[8,9,10]]
#                   print(list(map(tuple , numbers))) #Output :- [(1,2,3) , (4,5,6) , (8,9,10)]


#--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

#Q10 :- & Operator for Set Intersection in Python ??

#Ans :-
#       Purpose: The & operator finds common elements between two sets.
#       Usage: set1 & set2 returns a new set with elements present in both set1 and set2.
#       Example:
#              set1 = {1, 2, 3, 4}
#              set2 = {3, 4, 5, 6}
#              result = set1 & set2  # Output: {3, 4}

# Alternative: You can also use set1.intersection(set2) to get the same result.


#--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

#Q11 :- update() Method in Python Sets ??

#Ans :- 
#      Purpose: Adds multiple elements to a set.
#      Usage: set.update(iterable)
#      Example:
#              my_set = {1, 2, 3}
#              my_set.update([4, 5])  # Adds 4, 5 to the set
#                                     Output: {1, 2, 3, 4, 5}

# Note: 1:-  Adds elements from lists, sets, or other iterables.
#       2:- If you want to add single element in the set then you use add function.
#           Example :-
#                     my_set = {1, 2, 3}
#                     my_set.add(4)  # Adds the element 4 to the set

#                     print(my_set)  # Output: {1, 2, 3, 4}

In [ ]:
# TASK 1 :-

In [10]:
# Q1 :- Print the given strings as per stated format.
# Given strings:
# "Data" "Science" "Mentorship" "Program" 
# "By" "CampusX"

# Output:
# Data-Science-Mentorship-Program-started-By-CampusX

print("Data","Science","Mentorship","program",sep = "-",end = "-started-")
print("By","CampusX",sep = "-")

Data-Science-Mentorship-program-started-By-CampusX

In [18]:
# Q2:- Write a program that will convert celsius value to fahrenheit.
# Hint :- Fahrenheit=(Celsius x 9/5) + 32.

cel = int(input("Enter the Temperature in Celsius :- "))
fah = (cel * (9/5)) + 32
print("Temperature in Fahrenheit :- ",fah,"F")

Enter the Temperature in Celsius :-  35

Temperature in Fahrenheit :-  95.0 F

In [24]:
# Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax. 

num1 = int(input("Enter the first Number :- "))
num2 = int(input("Enter the second Number :- "))
print("\n")
print("First Number (num1) before swapping :- ",num1)
print("Second Number (num2) before swapping :- ",num2)
print("\n")
temp = num1
num1 = num2
num2 = temp
print("First Number (num1) after swapping :- ",num1)
print("Second Number (num2) after swapping :- ",num2)

Enter the first Number :-  5
Enter the second Number :-  10

First Number (num1) before swapping :-  5
Second Number (num2) before swapping :-  10


First Number (num1) after swapping :-  10
Second Number (num2) after swapping :-  5

In [28]:
# Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

x1 = int(input("Enter the value of x1 in coordinate 1 :- "))
y1 = int(input("Enter the value of y1 in coordinate 1 :- "))
x2 = int(input("Enter the value of x2 in coordinate 2 :- "))
y2 = int(input("Enter the value of y2 in coordinate 2 :- "))
distance = (  (x2-x1)**2  +  (y2-y1)**2 )**0.5
print("Distance between Two coordinates is :- ",distance)

Enter the value of x1 in coordinate 1 :-  0
Enter the value of y1 in coordinate 1 :-  0
Enter the value of x2 in coordinate 2 :-  2
Enter the value of y2 in coordinate 2 :-  2

Distance between Two coordinates is :-  2.8284271247461903

In [32]:
# Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.
# Hint - si = (p * t * r)/100

p = int(input("Enter the Amount :- "))
r = int(input("Enter the rate of Interest :- "))
t = int(input("Enter the time period :- "))
si = (p * r * t) / 100
print("Simple Interest is :- ",si)

Enter the Amount :-  10000
Enter the rate of Interest :-  5
Enter the time period :-  2

Simple Interest is :-  1000.0

In [34]:
# Q6:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.
# Hint - Thus, the sum of the squares of first n natural numbers = n(n+1)(2n+1)/6.

n = int(input("Enter the number Upto which you want sum of squares of natural numbers :- "))
sum = (n * (n+1) * (2*n + 1)) / 6
print("Sum of squares of natural numbers :- ",sum)

Enter the number Upto which you want sum of squares of natural numbers :-  5

Sum of squares of natural numbers :-  55.0

In [38]:
# Q7:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.
# Hint -> an = a + (n â€“ 1)d.
# where , an is the Nth term.
#         a is first term.
#         n is the term number.
#         d is the common difference.

first_term = int(input("Enter the first term :- "))
second_term = int(input("Enter the second term :- "))
n = int(input("enter the term number :- "))
d = second_term - first_term

an = first_term + (n - 1) * d
print("Nth term of the series is :- ",an)

Enter the first term :-  3
Enter the second term :-  6
enter the term number :-  5

Nth term of the series is :-  15

In [48]:
# Q 8:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? 
# Assume all the inputs are provided by the user.
# Input:
# Dimensions of the milk tank
# H = 20cm, L = 20cm, B = 20cm

# Dimensions of the glass
# h = 3cm, r = 1cm

import math

h_t = float(input("Enter the height of milk tank :- "))
l_t = float(input("Enter the length of milk tank :- "))
b_t = float(input("Enter the breath of milk tank :- "))
r_g = float(input("Enter the radius of the glass :- "))
h_g = float(input("Enter the height of glass :- "))
vol_t = l_t * b_t * h_t
vol_g = 3.14 * r_g * r_g * h_g

print("No.of glasses :- ",math.floor(vol_t/vol_g))

Enter the height of milk tank :-  10
Enter the length of milk tank :-  19
Enter the breath of milk tank :-  10
Enter the radius of the glass :-  2
Enter the height of glass :-  5

No.of glasses :-  30

In [4]:
# Q9:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.
# For example: Input: heads -> 4 legs -> 12
# Output: dogs -> 2 chicken -> 2

head = int(input("Enter the No. of heads :- "))
leg = int(input("Enter the No. of Legs :- "))
print("\n")
chicken = (4*head - leg) / 2
dog = head - chicken
print("No. of dogs = ",dog)
print("No. of chicken = ",chicken)

Enter the No. of heads :-  4
Enter the No. of Legs :-  12

No. of dogs =  2.0
No. of chicken =  2.0

In [16]:
# Q10:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

num1 = int(input("Enter the numerator 1 :- "))
deno1 = int(input("Enter the denominator 2 :- "))
num2 = int(input("Enter the numerator 2 :- "))
deno2 = int(input("Enter the denominator 2 :- "))

# sum = ((num1 * deno2) + (num2 * deno1)) / (deno1 * deno2)
# print("Sum of two fractions is :- ",sum)

# another method to write this.
rn = (num1 * deno2) + (num2 * deno1)
rd =  deno1 * deno2

print('{}/{}'.format(rn, rd))

Enter the numerator 1 :-  3
Enter the denominator 2 :-  7
Enter the numerator 2 :-  2
Enter the denominator 2 :-  11

47/77

In [ ]:
# TASK 2 :-

In [2]:
# Problem 1: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%),
# DA(5%), PF(3%) and taxes deduction as below:

# Salary(Lakhs) : Tax(%)
# Below 5 : 0%
# 5-10 : 10%
# 10-20 : 20%
# above 20 : 30%

ctc = int(input("Enter your anual ctc (Cost to company) :- "))
if(ctc < 500000):
    salary = ctc * 0.82
elif(ctc < 1000000):
    salary = ctc * 0.72
elif(ctc < 2000000):
    salary = ctc * 0.62
else:
    salary = ctc * 0.52

print("Your Inhand monthly salary after deduction :- ",round(salary/12,2))

Enter your ctc (Cost to company) :-  1200000

Your Inhand monthly salary after deduction :-  62000.0

In [8]:
# Problem 2: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.
# Hint - Sum of all angles is 180 and all angles are positive.

a1 = int(input("Enter the angle_1 :- "))
a2 = int(input("Enter the angle_2 :- "))
a3 = int(input("Enter the angle_3 :- "))

sum = a1 + a2 + a3
if(sum == 180 and a1 > 0 and a2 > 0 and a3 > 0):
    print("forms a triangle")
else:
    print("Does not forms a triangle")

Enter the angle_1 :-  60
Enter the angle_2 :-  60
Enter the angle_3 :-  60

forms a triangle

In [14]:
# Problem 3: Write a program that will take user input of cost price and 
# selling price and determines whether its a loss or a profit.

cost_price = int(input("Enter the cost price :- "))
selling_price = int(input("Enter the selling price :- "))
if(cost_price < selling_price):
    print("Profit")
elif(selling_price < cost_price):
    print("Loss")
else:
    print("No Loss No Gain")

Enter the cost price :-  10
Enter the selling price :-  10

No Loss No Gain

In [6]:
# Problem 4: Write a menu-driven program -
# 1-> cm to ft
# 2-> km to miles
# 3-> USD to INR
# 4-> exit

# Hint

# 1 cm = 0.032ft
# 1km = 0.62
# 1 USD = 80 INR

menu = int(input(""" Hello!
choose an option from the MENU
1 -> cm to ft
2 -> km to miles
3 -> USD to INR
4 -> Exit \n"""))

if(menu == 1):
    cm = float(input("\nEnter the cm Value :- "))
    ft = cm * 0.032
    print("Value in Ft = ",ft)
elif(menu == 2):
    km = float(input("\nEnter the km Value :- "))
    miles = km * 0.62
    print("Value in Miles :- ",miles)
elif(menu == 3):
    usd = float(input("\nEnter the USD value :- "))
    inr = usd * 80
    print("Value in INR :- ",inr)
else:
    print("Exit")

 Hello!
choose an option from the MENU
1 -> cm to ft
2 -> km to miles
3 -> USD to INR
4 -> Exit
 1

Enter the cm Value :-  10

Value in Ft =  0.32

In [10]:
# Problem 5 - Exercise 12: Display Fibonacci series up to 10 terms.
# Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. 
# The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34.

first_num = 0
second_num = 1
print(first_num,second_num,sep = ',', end = ',') 

for i in range(8):
    next_num = first_num + second_num
    first_num = second_num
    second_num = next_num
    print(next_num , end = ',')

0,1,1,2,3,5,8,13,21,34,

In [7]:
# Problem 6 - Find the factorial of a given number.
# Write a program to use the loop to find the factorial of a given number.
# The factorial (symbol: !) means to multiply all whole numbers from the chosen number down to 1.
# For example: calculate the factorial of 5

# 5! = 5 Ã— 4 Ã— 3 Ã— 2 Ã— 1 = 120
# Output:
# 120

num = int(input("Enter the number :- "))
fact = 1
for i in range(1 , num + 1):
    fact = fact * i

print("Factorial of the give number is  ",fact)

Enter the number :-  5

Factorial of the give number is   120

In [6]:
# Problem 7 - Reverse a given integer number.
# Example:
# Input: 76542
# Output: 24567

num = int(input("Enter the number :- "))
rev = 0
print("Number before reverse :- ", num)
while(num > 0):
    last = num % 10
    rev = rev * 10 + last
    num = num // 10

print("Number After reverse :- ", rev)

Enter the number :-  123456789

Number before reverse :-  123456789
Number After reverse :-  987654321

In [22]:
# Problem 8: Take a user input as integer N. Find out the sum from 1 to N. If any number is divisible by 5, then skip that number.
# And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. 
# And don't use for loop to solve this problem.
# Example 1:
#           Input:30
#           Output:276     

num = int(input("Enter the Number :- "))
i = 1
sum = 0

while(i <= num):
    if(i % 5 == 0):
        i += 1
        continue
    
    sum += i
    
    if(sum > 300):
        sum -= i
        break
    
    i += 1    

print("Sum :- ",sum)

Enter the Number :-  30

Sum :-  276

In [30]:
# Problem 9: Write a program that keeps on accepting a number from the user until the user enters Zero. 
# Display the sum and average of all the numbers.

count = 0
sum = 0
while(True):
    num = int(input("Enter a number :- "))
    if(num == 0):
        break
    count += 1;
    sum += num

avg = sum / count
print("Sum of numbers is :- ",sum)
print("Average of number is :- ",avg)

Enter a number :-  1
Enter a number :-  2
Enter a number :-  4
Enter a number :-  5
Enter a number :-  6
Enter a number :-  7
Enter a number :-  8
Enter a number :-  9
Enter a number :-  10
Enter a number :-  11
Enter a number :-  12
Enter a number :-  13
Enter a number :-  14
Enter a number :-  15
Enter a number :-  16
Enter a number :-  17
Enter a number :-  18
Enter a number :-  19
Enter a number :-  20
Enter a number :-  0

Sum of numbers is :-  207
Average of number is :-  10.894736842105264

In [54]:
# Problem 10: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
# between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

# Method 1 :- Simple way
for i in range(2000 , 3201):
    if(i % 7 == 0 and i % 5 != 0):
        print(i,end = ",")

print()
print("---------------------------------------------------------------------------------------------------------------------------------")

# Method 2 :- second way using list
List = [] 
for i in range(2000 , 3201):
    if(i % 7 == 0 and i % 5 != 0):
        List.append(str(i))
print(",".join(List))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,
---------------------------------------------------------------------------------------------------------------------------------
2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

In [58]:
#Problem 10: Write a program, which will find all such numbers between 1000 and 3000 (both included) 
#such that each digit of the number is an even number.The numbers obtained should be printed in a space-separated sequence on a single line.

for i in range(1000 , 3001):
    curr = i
    while(i > 0):
        rem = i % 10
        if(rem % 2 != 0):
            break
        i = i // 10

    if(i == 0):
        print(curr , end = " ")

2000 2002 2004 2006 2008 2020 2022 2024 2026 2028 2040 2042 2044 2046 2048 2060 2062 2064 2066 2068 2080 2082 2084 2086 2088 2200 2202 2204 2206 2208 2220 2222 2224 2226 2228 2240 2242 2244 2246 2248 2260 2262 2264 2266 2268 2280 2282 2284 2286 2288 2400 2402 2404 2406 2408 2420 2422 2424 2426 2428 2440 2442 2444 2446 2448 2460 2462 2464 2466 2468 2480 2482 2484 2486 2488 2600 2602 2604 2606 2608 2620 2622 2624 2626 2628 2640 2642 2644 2646 2648 2660 2662 2664 2666 2668 2680 2682 2684 2686 2688 2800 2802 2804 2806 2808 2820 2822 2824 2826 2828 2840 2842 2844 2846 2848 2860 2862 2864 2866 2868 2880 2882 2884 2886 2888

In [40]:
# Problem 11: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN,
#             LEFT and RIGHT with a given steps. The trace of robot movement is shown as the following:

#             UP 5
#             DOWN 3
#             LEFT 3
#             RIGHT 2
#             !
#             The numbers after the direction are steps.

#             ! means robot stop there.

#             Please write a program to compute the distance from current position after a sequence of movement and original point.

#             If the distance is a float, then just print the nearest integer.

#             Example:

#             Input:

#             UP 5
#             DOWN 3
#             LEFT 3
#             RIGHT 2
#             !
#             Output: 2


#Olution :- 1
up = 0
dn = 0
lt = 0
rt = 0
ori_pos = [0 , 0]
while(True):
    mov = str(input("""Enter the direction :-  
                     
                      For upward direction Enter :- up
                      For downward direction Enter :- dn
                      For left direction Enter :- lt
                      For right direction Enter :- rt
                    
                     AND IF you want to stop the robot then Enter (!) :-
                     
                     """))
    if(mov == '!'):
               break

    else:
       if(mov == 'up'):
              a = int(input("Enter the step in upward direction :- "))
              up += a 
              ori_pos[1] = up
       
       elif(mov == 'dn'):
              b = int(input("Enter the step in downward direction :- "))
              dn = ori_pos[1] - b
              ori_pos[1] = dn

       elif(mov == 'lt'):
              c = int(input("Enter the step in left direction :- "))
              lt -= c
              ori_pos[0] = lt

       elif(mov == 'rt'):
              d = int(input("Enter the step in right direction :- "))
              rt = ori_pos[0] + d
              ori_pos[0] = rt
       else:
           pass
              

print("NEW POISITION :- ",ori_pos)
distance = (ori_pos[0]**2 + ori_pos[1]**2)**0.5
print("Distance :- ",int(distance))

IndentationError: unindent does not match any outer indentation level (<string>, line 94)

In [49]:
#Solution 2 of problem 11 :- 
pos = [0 , 0]
while(True):
    mov = input("Enter the direction and steps :- ")
    if(mov == '!'):
        break
    else:
        direction = mov.split()[0]
        steps = int(mov.split() [1])

        if(direction == 'UP'):
            pos[1] = pos[1] + steps
        elif(direction == 'DOWN'):
            pos[1] = pos[1] - steps
        elif(direction == 'LEFT'):
            pos[0] = pos[0] - steps
        elif(direction == 'RIGHT'):
             pos[0] = pos[0] + steps
        else:
             pass

print("New Position",pos)
distance = (pos[0]**2 + pos[1]**2)**0.5
print("Distance",int(distance))

Enter the direction and steps :-  UP 5
Enter the direction and steps :-  DOWN 3
Enter the direction and steps :-  LEFT 3
Enter the direction and steps :-  RIGHT 2
Enter the direction and steps :-  !

New Position [-1, 2]
Distance 2

In [63]:
# Problem 12:Write a program to print whether a given number is a prime number or not.
check = True
num = int(input("Enter a number :- "))                
for i in range(2 , num):
      if(num % i == 0):
            check = False
            break

if(check == True):
    print(num," is a Prime Number")
else:
    print(num," is not a Prime Number")

Enter a number :-  12

12  is not a Prime Number

In [73]:
# Problem 13:Print all the Armstrong numbers in a given range.
# Range will be provided by the user
# Armstrong number is a number that is equal to the sum of cubes of its digits. 
# For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

start = int(input("Enter the starting range :- "))
end = int(input("Enter the end range :- "))
for i in range(start , end + 1):
      temp = i
      sum = 0
      order = len(str(i))
      while(i > 0):
           rem = i % 10
           digit = rem**order
           sum += digit
           i //= 10
      if(temp == sum):
          print(temp , end = " , ")

Enter the starting range :-  0
Enter the end range :-  200

0 , 1 , 2 , 3 , 4 , 5 , 6 , 7 , 8 , 9 , 153 ,

In [ ]:
# TASK 3 :-

In [81]:
# Problem 1 - Print the following pattern. Write a program to use for loop to print the following reverse number pattern.
# 5 4 3 2 1 
# 4 3 2 1 
# 3 2 1 
# 2 1 
# 1

n = int(input("Enter a number :- "))
for i in range(1,n + 1):
        for j in range(n - i + 1 , 0 , -1):
               print(j,end = " ")
        print()

Enter a number :-  9

9 8 7 6 5 4 3 2 1
8 7 6 5 4 3 2 1
7 6 5 4 3 2 1
6 5 4 3 2 1
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [99]:
# Problem 2: Print the following pattern.
# * 
# * * 
# * * * 
# * * * * 
# * * * * * 
# * * * * 
# * * * 
# * * 
# *

n = int(input("Enter a  number :- "))
for i in range(n):
    for j in range(i):
        print("*" , end = " ")  
    print()

for i in range(1,n + 1):
        for j in range(n - i + 1 , 0 , -1):
               print("*",end = " ")
        print()

Enter a  number :-  8

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [103]:
# Problem 3:Write a program to print the following pattern
# 1

# 2 1

# 3 2 1

# 4 3 2 1

# 5 4 3 2 1

n = int(input("Enter a number :- "))
for i in range(1 , n + 1):
    for j in range(i , 0 , - 1):
        print(j , end = " ")
    print()

Enter a number :-  6

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1
6 5 4 3 2 1

In [123]:
# Problem 4: Write a Python Program to Find the Sum of the Series till the nth term:
# 1 + x^2/2 + x^3/3 + â€¦ x^n/n
# n will be provided by the user

x = int(input("Enter tha value of x :- "))
n = int(input("Enter the value of n :- "))

sum = 1
s = ''
print("1 + " , end = " ")
for i in range(2 , n + 1):
    sum += (x**i / i)
    s += ('x^{}/{} +'.format(i , i))

print(s[:-1])
print("Sum of the Series is :- ",sum)

Enter tha value of x :-  10
Enter the value of n :-  5

1 +  x^2/2 +x^3/3 +x^4/4 +x^5/5
Sum of the Series is :-  22884.333333333332

In [151]:
# Problem 5 - Find the sum of the series upto n terms.
# Write a program to calculate the sum of series up to n term. For example, 
# if n = 5 the series will become 2 + 22 + 222 + 2222 + 22222 = 24690. Take the user input and then calculate.
# And the output style should match which is given in the example.

# Example 1:
#           Input: 5

#           Output:2+22+222+2222+22222
#                  Sum of above series is: 24690

n = int(input("Enter a Number :- "))
s = ''
sum = 0
start = 2
for i in range(n):
    print(start , end = "")
    if(i != n - 1):
        print("+",end = "")
    sum += start
    start = start * 10 + 2
print("\nSum of above series: ",sum)

Enter a Number :-  5

2+22+222+2222+22222
Sum of above series:  24690

In [22]:
# Problem 6: Create Short Form from initial character
# Given a string create short form ofthe string from Initial character. Short form should be capitalised.

# Example:
#        Input:Data science mentorship program
#        Output:DSMP

input = 'Data science mentorship program'
result = ''
for i in input.split():
    result += i[0].upper();
print(result)

DSMP

In [17]:
# Problem 7: Append second string in the middle of first string
# Input:
# campusx
# data

# Output:
# camdatapusx

#Solution 1:- It is done by me
s1 = input("Enter the first string :- ")
s2 = input("Enter the second string :- ")
result = ''
avg = len(s1) // 2
s1Len = len(s1)
s2Len = len(s2)

result += s1[0:avg]
result += s2[0:s2Len]
result += s1[avg:s1Len] 

print(result)

Enter the first string :-  will
Enter the second string :-  do

widoll

In [15]:
#Solution 2:- of problem 7 (camousx ki approach)

s1 = input("Enter the first string :- ")
s2 = input("Enter the second string :- ")

print(s1[0:len(s1)//2] + s2 + s1[len(s1)//2:len(s1)])

Enter the first string :-  will
Enter the second string :-  do

widoll

In [27]:
# Problem 8:Given string contains a combination of the lower and upper case letters. Write a program to arrange the characters of a string so that all lowercase letters should come first.
# Given:

# str1 = PyNaTive

# Expected Output:

# yaivePNT

str1 = 'PyNaTive'

lower = ''
upper = ''

for i in str1:
    if i.islower():
        lower += i
    else:
        upper += i

print(lower + upper)

yaivePNT

In [37]:
# Problem 9:Take a alphanumeric string input and print the sum and average of the digits that appear in the string,
#            ignoring all other characters.
# Input:

# hel123O4every093

# Output:

# Sum: 22
# Avg: 2.75
s = input("Enter alphanumeric string :- ")
count = 0
sum = 0
for i in s:
    if(i.isdigit()):
        sum += int(i)
        count += 1

print("Sum : ",sum)
print("Average : ",sum/count)

Enter alphanumeric string :-  hel123O4every093

Sum :  22
Average :  3.142857142857143

In [7]:
# Problem 10: Removal of all characters from a string except integers
# Given:

# str1 = 'I am 25 years and 10 months old'
# Expected Output:

# 2510

s = 'I am 25 years and 10 months old'
result = ''
for i in s:
    if(i.isdigit()):
        result += i
    
print(result)

2510

In [17]:
# Problem 11: Check whether the string is Symmetrical.
# Statement: Given a string. the task is to check if the string is symmetrical or not. 
# A string is said to be symmetrical if both the halves of the string are the same.

# Example 1:

# Input

# khokho
# Output

# The entered string is symmetrical

s = input("Enter a string :- ")
mid = len(s)//2
flag = True

for i in range(0 , mid):
    if(s[i] != s[mid + i]):
        flag = False
if(flag):
    print("The entered string is symmetrical")
else:
    print("The entered string is not symmetrical")

Enter a string :-  madam

The entered string is not symmetrical

In [25]:
# Problem 12: Reverse words in a given String
# Statement: We are given a string and we need to reverse words of a given string.

# Example 1:

# Input:

# geeks quiz practice code
# Output:

# code practice quiz geeks

s = input("Enter a string :- ")
L = []

for i in s.split():
    L.append(i)
L = L[::-1]
print(" ".join(L))

Enter a string :-  geeks quiz practice code

code practice quiz geeks

In [29]:
# Problem 13: Find uncommon words from two Strings.
# Statement: Given two sentences as strings A and B. The task is to return a list of all uncommon words. 
# A word is uncommon if it appears exactly once in any one of the sentences, and does not appear in the other sentence. 
# Note: A sentence is a string of space-separated words. Each word consists only of lowercase letters.

# Example 1:

# Input:

# A = "apple banana mango" 
# B = "banana fruits mango"
# Output:

# ['apple', 'fruits']

#Solution 1:- Done BY ME
A = "apple banana mango" 
B = "banana fruits mango"

L = []

#Checking the element of A in B.
for i in A.split():
    count = 1
    for j in B.split():
        if(i == j):
            count += 2
    if(count == 1):
        L.append(i)

#Checking the element of B in A.
for i in B.split():
    count = 1
    for j in A.split():
        if(i == j):
            count += 2
    if(count == 1):
        L.append(i)
print(L)

['apple', 'fruits']

In [31]:
#Solution 2 :- of Problem 13.
A = "apple banana mango" 
B = "banana fruits mango"
L = []

#Checking the element of A in B.
for i in A.split():
    if(i not in B and i not in L):
        L.append(i)

#Checking the element of B in A.
for i in B.split():
    if(i not in A and i not in L):
        L.append(i)
print(L)

['apple', 'fruits']

In [37]:
# Problem 14: Word location in String.
# Statement: Find a location of a word in a given sentence.

# Example 1:

# Input:

# Sentence: We can learn data science through campusx mentorship program.

# word: campusx
# Output:

# Location of the word is 7.
# Note- Don't use index/find functions
s = 'We can learn data science through campusx mentorship program'
word = 'campusx'

pos = 0
for i in s.split():
    pos += 1
    if(i == word):
        break
print("Location of the word is",pos)

Location of the word is 7

In [45]:
# Problem 15: Write a program that can remove all the duplicate characters from a string. User will provide the input.
s = input("Enter a string :- ")

result = ''

for i in s:
    if(i not in result):
        result += i
print(result)

Enter a string :-  aaaaaaaaaaaaaabbbbbbbbbbcccccccccccdddddddddddeeeeeeeeee

abcde

In [ ]:
#TASK 4:-

In [18]:
# Problem 1: Combine two lists index-wise(columns wise)
# Write a program to add two lists index-wise. Create a new list that contains the 0th index item from both the list, 
# then the 1st index item, and so on till the last element. any leftover items will get added at the end of the new list.

# Given List:

# list1 = ["M", "na", "i", "Kh"]
# list2 = ["y", "me", "s", "an"]
# Output:

# [['M','y'], ['na', 'me'], ['i', 's'], ['Kh', 'an']]

list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]

resultant_list = [[i , j] for (i , j) in zip(list1 , list2)]
print(resultant_list)

[['M', 'y'], ['na', 'me'], ['i', 's'], ['Kh', 'an']]

In [20]:
# Problem 2: Add new item to list after a specified item
# Write a program to add item 7000 after 6000 in the following Python List

# list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
# Output:

# [10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [22]:
# Problem 3: Update no of items available
# Suppose you are given a list of candy and another list of same size representing no of items of respective candy.

# i.e -

# candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
# no_of_items = [10,20,34,74,32]
# Write a program to show no. of items of each candy type.

# Output:

# Jelly Belly-10
# Kit Kat-20
# Double Bubble-34
# Milky Way-74
# Three Musketeers-32


#Solution 1:- 
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]

for i in range(len(candy_list)):
    print(candy_list[i],end = "-")
    for j in range(i , i + 1):
        print(no_of_items[j])

Jelly Belly-10
Kit Kat-20
Double Bubble-34
Milky Way-74
Three Musketeers-32

In [24]:
#Solution 2:- of problem 3.
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]

for (i , j) in zip(candy_list ,no_of_items):
    print(i,'-',j)

Jelly Belly - 10
Kit Kat - 20
Double Bubble - 34
Milky Way - 74
Three Musketeers - 32

In [30]:
# Problem 4: Running Sum on list
# Write a program to print a list after performing running sum on it.

# i.e:

# Input:

# list1 = [1,2,3,4,5,6]
# Output:

# [1,3,6,10,15,21]

list1 = [1,2,3,4,5,6]
sum = 0
list2 = []

for i in list1:
    sum += i
    list2.append(sum)
print(list2)

[1, 3, 6, 10, 15, 21]

In [34]:
# Problem 5: You are given a list of integers. You are asked to make a list by running through 
#            elements of the list by adding all elements greater and itself.
# i.e. Say given list is [2,4,6,10,1] resultant list will be [22,20,10,23].

# For 1st element 2 ->> these are greater (4+6+10) values and 2 itself so on adding becomes 22.

# For 2nd element 4 ->> greater elements are (6, 10) and 4 itself, so on adding 20

# like wise for all other elememts.

# [2,4,6,10,1]-->[22,20,16,10,23]

# Solution 1:-
list1 = [2,4,6,10,1]
resultant_list = []

for i in range(len(list1)):
    sum = 0
    sum += list1[i]
    for j in range(0, len(list1)):
        if(list1[j] > list1[i]):
            sum += list1[j]
    resultant_list.append(sum)

print(resultant_list)

[22, 20, 16, 10, 23]

In [36]:
# Solution 2:-of problem 5
list1 = [2,4,6,10,1]
resultant_list = []

for i in list1:
    sum = 0
    for j in list1:
        if(j >= i):
            sum += j
    resultant_list.append(sum)
print(resultant_list)

[22, 20, 16, 10, 23]

In [46]:
# Problem 6: Find list of common unique items from two list. and show in increasing order
# Input

# num1 = [23,45,67,78,89,34]
# num2 = [34,89,55,56,39,67]
# Output:

# [34, 67, 89]

num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]

common = []
for i in num1:
    if(i in num2):
        common.append(i)

print(sorted(set(common)))

[34, 67, 89]

In [72]:
# Problem 7: Sort a list of alphanumeric strings based on product value of numeric character in it. 
# If in any string there is no numeric character take it's product value as 1.
# Input:

# ['1ac21', '23fg', '456', '098d','1','kls']
# Output:

# ['456', '23fg', '1ac21', '1', 'kls', '098d']

list1 = ['1ac21', '23fg', '456', '098d','1','kls']
prod_val = []

for i in list1:
    prd = 1
    for j in i:
        if(j.isdigit()):
            prd *= int(j)
    prod_val.append(prd)

resultant_list = [i[1] for i in sorted(zip(prod_val , list1) , reverse = True)]
print(resultant_list)

['456', '23fg', '1ac21', 'kls', '1', '098d']

In [105]:
# Convert Character Matrix to single String using string comprehension.
# Example 1:

# Input:

# [['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]
# Output:

# campux is best channel

list = [['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]

print(" ".join(["".join(i) for i in list]))

campux is best channel

In [109]:
# Problem 10: Add Space between Potential Words.
# Example:

# Input:

# ['campusxIs', 'bestFor', 'dataScientist']
# Output:

# ['campusx Is', 'best For', 'data Scientist']

list = ['campusxIs', 'bestFor', 'dataScientist']
l = []
for i in list:
    s = ''
    for j in i:
        if(j.isupper()):
            s += ' '
        s += j 
    l.append(s)
print(l)

['campusx Is', 'best For', 'data Scientist']

In [133]:
# Problem 11: Write a program that can perform union operation on 2 lists
# Example:

# Input:

# [1,2,3,4,5,1]
# [2,3,5,7,8]
# Output:

# [1,2,3,4,5,7,8]

list1 =  [1,2,3,4,5,1]
list2 =  [2,3,5,7,8]
Union = []

for i in list1:
    if(i not in Union):
        Union.append(i)

for j in list2:
    if(j not in Union):
        Union.append(j)
print(Union)

[1, 2, 3, 4, 5, 7, 8]

In [145]:
# Problem 12: Write a program that can find the max number of each row of a matrix
# Example:

# Input:

# [[1,2,3],[4,5,6],[7,8,9]]
# Output:

# [3,6,9]

#Solution 1:- 
L = [[1,2 ,3],[4,5,6],[7,8,9]]
Max = []

for i in range(0 , len(L)):
    max = 0
    for j in range(0 , len(L[i])):
        if(L[i][j] > max):
            max = L[i][j]
    Max.append(max)   

print(Max)

[3, 6, 9]

In [1]:
#Solution 2:- of problem 12 max() function.
L = [[1,2 ,3],[4,5,6],[7,8,9]]
result = []

for i in L:
    result.append(max(i))

print(result)

[3, 6, 9]

In [3]:
# Problem 13: Write a list comprehension to print the following matrix
# [[0, 1, 2], [3, 4, 5], [6, 7, 8]]

print([[j for j in range(0,3)] for i in range(0,3)])

[[[0, 1, 2]], [[3, 4, 5]], [[6, 7, 8]]]

In [3]:
# Problem 14: Write a list comprehension that can transpose a given matrix
# matrix = [
# [1,2,3],
# [4,5,6],
# [7,8,9]
# ]

# [1, 4, 7]
# [2, 5, 8]
# [3, 6, 9]

matrix = [
[1,2,3],
[4,5,6],
[7,8,9]
]

print([[row[i] for row in matrix] for i in range(len(matrix))])

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [13]:
# Problem 15: Write a list comprehension that can flatten a nested list
# Input
# matrix = [
# [1,2,3],
# [4,5,6],
# [7,8,9]
# ]

# Output:
# [1, 2, 3, 4, 5, 6, 7, 8, 9]

matrix = [
[1,2,3],
[4,5,6],
[7,8,9]
]

print([item for j in matrix for item in j])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#TASK 5

In [ ]:
#TUPLE

In [13]:
# Q1: Join Tuples if similar initial element
# While working with Python tuples, we can have a problem in which we need to perform concatenation 
# of records from the similarity of initial element. This problem can have applications in data domains such as Data Science.

# For eg.

# Input  : test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)] 
# Output : [(5, 6, 7, 8), (6, 10), (7, 13)] 

test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
unique = []

for i in test_list:
    unique.append(i[0])
unique = set(unique)    

result = []

for i in unique:
    result.append([i])
    for j in test_list:
        if(j[0] == i):
            result[-1].append(j[1])
print(list(map(tuple , result)))

[(5, 6, 7, 8), (6, 10), (7, 13)]

In [31]:
# Q2: Multiply Adjacent elements (both side) and take sum of right and left side multiplication result.
# For eg.

# The original tuple : (1, 5, 7, 8, 10)
# Resultant tuple after multiplication : 

# (1*5, 1*5+5*7, 7*5 + 7*8, 8*7 + 8*10, 10*8) -> (5, 40, 91, 136, 80)

# output-(5, 40, 91, 136, 80)

tup = (1, 5, 7, 8, 10)
list = []
list.append(tup[0] * tup[1])

for i in range(1 ,len(tup) - 1):
    list.append((tup[i] * tup[i - 1]) +(tup[i] * tup[i + 1]))

list.append(tup[len(tup) - 1] * tup[len(tup) - 2])  
print(tuple(list))

(5, 40, 91, 136, 80)

In [7]:
# Q3: Check is tuples are same or not?
# Two tuples would be same if both tuples have same element at same index

# t1 = (1,2,3,0)
# t2 = (0,1,2,3)

# t1 and t2 are not same

#Solution 1:-
t1 = (0,1,2,3)
t2 = (1,2,3,0)
flag = True
for i in range(0 , len(t1)):
    for j in range(i , i + 1):
        if(t1[i] != t2[j]):
            flag = False
            break;
    if(flag == False):
        break;
if(flag):
    print("t1 and t2 are same")
else:
    print("t1 and t2 are not same")

t1 and t2 are not same

In [5]:
#Solution 2:- of Q3
t1 = (1,2,3)
t2 = (1,2,3)
flag = True

for i,j in zip(t1 , t2):
    if(i == j):
        continue
    else:
        flag = False
        break

if(flag):
    print("t1 and t2 are same")
else:
    print("t1 and t2 are not same")

t1 and t2 are same

In [15]:
# Q4: Count no of tuples, list and set from a list
# list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]
# Output:

# List-2
# Set-2
# Tuples-1

#Solution 1:-
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]
list_cnt = 0
set_cnt = 0
tuple_cnt = 0

for i in list1:
    if(isinstance(i , list)):
        list_cnt += 1
    elif(isinstance(i , set)):
        set_cnt += 1
    elif(isinstance(i , tuple)):
        tuple_cnt += 1
    else:
        pass

print(f"List-{list_cnt}")
print(f"Set-{set_cnt}")
print(f"Tuples-{tuple_cnt}")

List-2
Set-2
Tuples-1

In [23]:
#Solution 2:- of Q4:-
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]
output = [0,0,0]

for i in list1:
    if(type(i) == list):
        output[0] += 1
    elif(type(i) == set):
        output[1] += 1
    elif(type(i) == tuple):
        output[2] += 1
    else:
        pass

print(f"List-{output[0]} \nSet-{output[1]} \nTuple-{output[2]}")

List-2
Set-2
Tuple-1

In [17]:
# Q5: Shortlist Students for a Job role
# Ask user to input students record and store in tuples for each record. 
# Then Ask user to input three things he wants in the candidate- Primary Skill, Higher Education, Year of Graduation.

# Show every students record in form of tuples if matches all required criteria.

# It is assumed that there will be only one primry skill.

# If no such candidate found, print No such candidate

# Input:

# Enter No of records- 2
# Enter Details of student-1
# Enter Student name- Manohar
# Enter Higher Education- B.Tech
# Enter Primary Skill- Python
# Enter Year of Graduation- 2022
# Enter Details of student-2
# Enter Student name- Ponian
# Enter Higher Education- B.Sc.
# Enter Primary Skill- C++
# Enter Year of Graduation- 2020

# Enter Job Role Requirement
# Enter Skill- Python
# Enter Higher Education- B.Tech
# Enter Year of Graduation- 2022
# Output

# ('Manohar', 'B.tech', 'Python', '2022')

student_info = []
records = int(input("Enter No of records :- "))
print()
for i in range(0 , records):
    print("Enter Details of student :- " ,i + 1)
    name = input("Enter Student name :-")
    h_edu = input("Enter Higher Education :- ")
    p_skill = input("Enter Primary Skill :- ")
    y_of_grad = int(input("Enter Year of Graduation :- "))
    student_info.append((name , h_edu , p_skill , y_of_grad))
    print()


print("Enter Job Role Requirement")
skill = input("Enter Skill :- ")
edu = input("Enter Higher Education :- ")
year = int(input("Enter Year Of Graducation :- "))
print()

flag = False

for i in student_info:
    if(i[1] == edu and i[2] == skill and i[3] == year):
        flag = True
        print(i)

if(flag == False):
    print("No such candidate")

Enter No of records :-  2

Enter Details of student :-  1

Enter Student name :- fsfs
Enter Higher Education :-  sfsfs
Enter Primary Skill :-  sfs
Enter Year of Graduation :-  2022

Enter Details of student :-  2

Enter Student name :- ssf
Enter Higher Education :-  dsfsf
Enter Primary Skill :-  sfs
Enter Year of Graduation :-  22

Enter Job Role Requirement

Enter Skill :-  sss
Enter Higher Education :-  sfs
Enter Year Of Graducation :-  23

No such candidate

In [37]:
# Q1: Write a program to find set of common elements in three lists using sets.
# Input : ar1 = [1, 5, 10, 20, 40, 80]
#         ar2 = [6, 7, 20, 80, 100]
#         ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

# Output : [80, 20]

ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

s1 = set(ar1)
s2 = set(ar2)
s3 = set(ar3)

L = list((s1 & s2) & s3)
print(L)

[80, 20]

In [61]:
# Q2: Write a program to count unique number of vowels using sets in a given string. 
# Lowercase and uppercase vowels will be taken as different.
# Input:

# Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
# Output:

# No of unique vowels-6


#Solution 1:-
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"

s = set(Str1)
vowels = {'a','e','i','o','u','A','E','I','O','U'}
count = 0
for i in vowels:
    for j in s:
        if(i == j):
            count += 1
            break
print("No of unique Vowels :-",count)       

print("-------------------------------------------------------------------------------------------------------------------------")


#SOlution 2:- 
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
s = set(Str1)
vowels = set('aeiouAEIOU')

print("No of Vowels :- ",len(s & vowels))

No of unique Vowels :- 6
-------------------------------------------------------------------------------------------------------------------------
No of Vowels :-  6

In [71]:
# Q3: Write a program to Check if a given string is binary string of or not.
# A string is said to be binary if it's consists of only two unique characters.

# Take string input from user.

# Input: str = "01010101010"
# Output: Yes

# Input: str = "1222211"
# Output: Yes

# Input: str = "Campusx"
# Output: No

str = "1222211"
s = set(str)

if(len(s) == 2):
    print("Binary")
else:
    print("NotBinary")

Binary

In [83]:
# Q4: find union of n arrays.
# Example 1:

# Input:

# [[1, 2, 2, 4, 3, 6],
#  [5, 1, 3, 4],
#  [9, 5, 7, 1],
#  [2, 4, 1, 3]]
# Output:

# {1, 2, 3, 4, 5, 6, 7, 9}

#Solution 1:-
arr = [[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]

L = []
for i in arr:
    for j in i:
        L.append(j)
print(set(L))  

print("-------------------------------------------------------------------------------------------------------------------------")


#Solution 2:-
arr = [[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]

s = set()

for i in arr:
    s.update(i)
print(s)

{1, 2, 3, 4, 5, 6, 7, 9}
-------------------------------------------------------------------------------------------------------------------------
{1, 2, 3, 4, 5, 6, 7, 9}

In [97]:
# Q5: Intersection of two lists. Intersection of two list means we need to take all those elements 
# which are common to both of the initial lists and store them into another list. Only use using list-comprehension.
# Example 1:

# Input:

# lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
# lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}
# Output:

# [9, 10, 4, 5]
# Example 2:

# Input:

# lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
# lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}
# Output:

# [9, 11, 26, 28]

# lst1 = [15, 9, 10, 56, 23, 78, 5, 4, 9]
# lst2 = [9, 4, 5, 36, 47, 26, 10, 45, 87]

lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}

print([i for i in lst1 if i in lst2 ])

[4, 5, 9, 10]

In [ ]:
#Dictionary

In [101]:
# Q1: Key with maximum unique values
# Given a dictionary with values list, extract key whose value has most unique values.

# Example 1:

# Input:

# test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
# Output:

# CampusX

# Example 2:

# Input:

# test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
# Output:

# Best

test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
maxValue = 0
maxKey = ''

for key in test_dict:
    if(maxValue < len(set(test_dict[key]))):
        maxkey = key
        maxValue = len(set(test_dict[key]))

print(maxkey,":",maxValue)

Best : 3

In [123]:
# Q2: Replace words from Dictionary. Given String, replace itâ€™s words from lookup dictionary.
# Example 1:

# Input:

# test_str = 'CampusX best for DS students.'
# repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
# Output:

# CampusX is the best channel for Data-Science students.
# Example 2:

# Input:

# test_str = 'CampusX best for DS students.'
# repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}
# Output:

# CampusX best for DS students.


#Solution 1:-
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}

for i in range(0 , len(test_str.split())):
    for key in repl_dict:
        if(list[i] == key):
            list[i] = repl_dict[key]

print(" ".join(list))

print("------------------------------------------------------------------------------------------------------------------------------")

#Solution 2:-
test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}
L = []

for i in test_str.split():
    if(i in repl_dict):
        L.append(repl_dict[i])
    else:
        L.append(i)
print(" ".join(L))

CampusX is the best channel for Data-Science students.
------------------------------------------------------------------------------------------------------------------------------
CampusX best for DS students.

In [135]:
# Q3: Convert List to List of dictionaries. Given list values and keys list, 
# convert these values to key value pairs in form of list of dictionaries.
# Example 1:

# Input:

# test_list = ["DataScience", 3, "is", 8]
# key_list = ["name", "id"]
# Output:

# [{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]
# Example 2:

# Input:

# test_list = ["CampusX", 10]
# key_list = ["name", "id"]
# Output:

# [{'name': 'CampusX', 'id': 10}]

test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
n = len(test_list)
result = []

for i in range(0 , n , 2):
    result.append({key_list[0] : test_list[i] , key_list[1] : test_list[i + 1]})

print(result)

[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]

In [149]:
# Q4: Convert a list of Tuples into Dictionary.
# Example 1:

# Input:

# [("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
# Output:

# {'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}
# Example 2:

# Input:

# [('A', 1), ('B', 2), ('C', 3)]
# Output:

# {'A': [1], 'B': [2], 'C': [3]}

#Solution 1:-
inp = [("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
D = {}

for i in inp:
    for j in (0 , 2):
        D[i[0]] = [i[1]]

print(D)

print("---------------------------------------------------------------------------------------------------------------------------------")
#Solution 2:-
inp = [('A', 1), ('B', 2), ('C', 3)]
res = {}
for i,j in inp:
    res[i] = [j]

print(res)

{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}
---------------------------------------------------------------------------------------------------------------------------------
{'A': [1], 'B': [2], 'C': [3]}

In [203]:
# Q5: Sort Dictionary key and values List.
# Example 1:

# Input:

# {'c': [3], 'b': [12, 10], 'a': [19, 4]}
# Output:

# {'a': [4, 19], 'b': [10, 12], 'c': [3]}
# Example 2:

# Input:

# {'c': [10, 34, 3]}
# Output:

# {'c': [3, 10, 34]}

D = {'c': [3], 'b': [12, 10], 'a': [19, 4]}
res = {}

for i in sorted(D):
    res[i] = sorted(D[i])
    
print(res)

['a', 'b', 'c']
{'a': [4, 19], 'b': [10, 12], 'c': [3]}